<ion-header>

  <ion-navbar text-right color = "primary" no-border-bottom>
    <ion-title>Resultados</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="resultados">
      <ion-segment-button value="Victorias" (click) = "Seleccion('Victorias')">
        Victorias
      </ion-segment-button>
      <ion-segment-button value="Empates" (click) = "Seleccion('Empates')">
        Empates
      </ion-segment-button>
      <ion-segment-button value="Derrotas" (click) = "Seleccion('Derrotas')">
        Derrotas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding class = "miClase">

  <div [ngSwitch]="resultados">

    <ion-list *ngSwitchCase="'Victorias'">
      <ion-item *ngFor="let partida of partidas.Victorias">
          <ion-avatar item-left>
            <img src="https://avatars3.githubusercontent.com/u/17879446?v=3&s=460"><!-- Imagen del jugador -->
          </ion-avatar>
          <h2>{{partida.nombre}}</h2>
          <p>Fecha : {{partida.fecha}}</p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Empates'">
      <ion-item *ngFor="let partida of partidas.Empates">
          <ion-avatar item-left>
            <img src="https://avatars3.githubusercontent.com/u/17879446?v=3&s=460"><!-- Imagen del jugador -->
          </ion-avatar>
          <h2>{{partida.nombre}}</h2>
          <p>Fecha : {{partida.fecha}}</p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Derrotas'">
      <ion-item *ngFor="let partida of partidas.Derrotas">
          <ion-avatar item-left>
            <img src="https://avatars3.githubusercontent.com/u/17879446?v=3&s=460"><!-- Imagen del jugador -->
          </ion-avatar>
          <h2>{{partida.nombre}}</h2>
          <p>Fecha : {{partida.fecha}}</p>
      </ion-item>
    </ion-list>

  </div>

  <div *ngIf = "sinResultados">
    <ion-card align = 'center' class = 'cardPregunta'>
      <ion-card-content>
        No hay resultados que mostrar.
      </ion-card-content> 
    </ion-card>
  </div>

  <div *ngIf = "errorAlTraerResultados">
    <ion-card align = 'center' class = 'cardPregunta'>
      <ion-card-content>
        Ocurrio un error al querer leer las partidas anteriores.
      </ion-card-content> 
    </ion-card>
  </div>

</ion-content>

<ion-footer transparent text-center>
  <ion-toolbar transparent>
    <button ion-button block class = "partidas-button" color = "primary" (click) = "Volver()">Volver al Menu Principal</button>
  </ion-toolbar>
</ion-footer>
